deryaSE_installer_rel_*.bin
ita_*.tif
Italy.asc
Limiti2011_g.zip
ken_*.tif
Kenya.asc
deryaSE.log
runderyaSE
histoData.dat
histoSims.dat
pdf*.dat
storage*
*_*km*.asc
*_*km*.ppm
*_*km*.dat
__pycache__
*/Maps/Makefile
*/Maps/Mobility/Makefile
*/Maps/Mobility/CoV.lse
*/Setup/Makefile
Master/Makefile
DeryaSE-summary-*.dat
*.o
