deryaSE_installer_rel_*.bin
ita_*.tif
Italy.asc
Limiti2011_g.zip
ken_*.tif
Kenya.asc
deryaSE.log
runderyaSE
histoData.dat
histoSims.dat
pdf*.dat
storage*
*_*km*.asc
*_*km*.ppm
*_*km*.dat
__pycache__
*/Maps/Makefile
*/Maps/Mobility/Makefile
*/Maps/Mobility/CoV.lse
*/Setup/Makefile
Sources/Makefile
DeryaSE-summary-*.dat
*.o
Private
Sources/CoV.lse
Sources/lse-userdefined.cpp
Sources/Makefile
Sources/Makefile_make
Sources/Consensus
Sources/Default
Output
Counties
Data/Canada
Data/China/Gridded
Data/China/Maps
Data/China/Setup
Data/Germany
Data/Portugal
Data/Spain
Data/Switzerland
Data/UK
